[submodule "subrepos/f1data-races-1-500"]
	path = subrepos/f1data-races-1-500
	url = https://github.com/menditeguy/f1data-races-1-500.git
[submodule "subrepos/f1data-races-501-1000"]
	path = subrepos/f1data-races-501-1000
	url = https://github.com/menditeguy/f1data-races-501-1000.git
[submodule "subrepos/f1data-races-1001-1500"]
	path = subrepos/f1data-races-1001-1500
	url = https://github.com/menditeguy/f1data-races-1001-1500.git
